<% render '_head.html' %>
<div class="landing">
<a href="#" id="newPhotoBtn" class="btn btn-large btn-primary">Add Your Photo!</a>
<form action="/photo" id="newPhotoForm" method="POST" enctype="multipart/form-data">
  <input name="photo" id="newPhotoFile" type="file">
</form>
<ul class="photoRow">
<% for (photo in model.photos) { %>
  <li>
        <a href="/show/$photo.id">
          <img title="$photo.name" src="data:image/png;base64,$photo.base64">
        </a>
  </li>
<% } %>
</ul>
</div>
<% render '_foot.html' %>