<% render '_head.html' %>
<div class="photoShow">
<h1>$model.photo.name</h1>
<hr>
<a href="/">&larr; Back</a>
&nbsp;&nbsp;
<a href="#" id="deleteBtn">x Delete</a>
<hr>
<img src="data:image/png;base64,$model.photo.base64">
</div>
<script>
  (function() {
    var deleteBtn = document.querySelector("#deleteBtn");
    deleteBtn.addEventListener("click", function(e) {
      e.preventDefault();
      var xhr = new XMLHttpRequest();
      xhr.open("DELETE", "/photo/delete/$model.photo.id", true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 204) {
          alert("Deleted.");
          window.location.href = '/';
        }
      };
      xhr.send("");
    }, false);
  })();
</script>
<% render '_foot.html' %>